.badge-user-violet{
    top: 12px;
    right: 2px;
    background-color: rgb(150, 73, 246);
    font-size: 2px;
    margin-right: 8px;
    padding-left: 5px !important;
    vertical-align: middle;
}

.badge-user-orange{
    top: 12px;
    right: 2px;
    background-color: rgb(223, 126, 3);
    font-size: 2px;
    padding-left: 5px !important;
    margin-right: 8px;
    vertical-align: middle;
}

/* table data */
.td-s{
    font-weight: normal;
    color: #6a7177!important;
    vertical-align: middle !important;
    font-weight: 500;
}

/* table element */
.th-s{
    color: #5a5e61!important;
    font-weight: 700;
}

.w-categorie-user{
    width: 23%;
}

.w-icon-setting{
    width: 18%;
}

.s-icon-table{
    margin: 0px 15px;
}

.border-table{
    border: 1px rgb(204, 204, 204) solid !important;
    border-radius: 3px;
    font-size: 11px;
}

@media (min-width: 830px) and (max-width: 1320px)
{ 
    .s-icon-table{
        margin: 0px 7px;
    }
}

@media (min-width: 0px) and (max-width: 830px)
{ 
    .s-icon-table{
        margin: 0px 2px;
    }
}

@media (min-width: 0px) and (max-width: 650px)
{ 
    .w-icon-setting{
        width: 28%;
    }
}